<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManageProceduresServlet</servlet-name>
        <servlet-class>controller.ManageProceduresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryProceduresServlet</servlet-name>
        <servlet-class>controller.HistoryProceduresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcedureControllerServlet</servlet-name>
        <servlet-class>controller.ProcedureControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProcedureServlet</servlet-name>
        <servlet-class>controller.UpdateProcedureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProceduresServlet</servlet-name>
        <url-pattern>/manageProcedures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryProceduresServlet</servlet-name>
        <url-pattern>/historyProcedures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcedureControllerServlet</servlet-name>
        <url-pattern>/procedureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProcedureServlet</servlet-name>
        <url-pattern>/updateProcedure</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
